@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14.5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.5%;
    --primary: 0 0% 20.5%;
    --primary-foreground: 0 0% 98.5%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 20.5%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55.6%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 20.5%;
    --destructive: 0 57.7% 24.5%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 0 0% 70.8%;
    --chart-1: 0 64.6% 22.2%;
    --chart-2: 0 60% 11.8%;
    --chart-3: 0 39.8% 7%;
    --chart-4: 0 82.8% 18.9%;
    --chart-5: 0 76.9% 18.8%;
    --radius: 0.625rem;
    --sidebar: 0 0% 20.5%;
    --sidebar-foreground: 0 0% 98.5%;
    --sidebar-primary: 0 0% 48.8%;
    --sidebar-primary-foreground: 0 0% 98.5%;
    --sidebar-accent: 0 0% 26.9%;
    --sidebar-accent-foreground: 0 0% 98.5%;
    --sidebar-border: 0 0% 92.2%;
    --sidebar-ring: 0 0% 55.6%;
  }

  .dark {
    --background: 0 0% 14.5%;
    --foreground: 0 0% 98.5%;
    --card: 0 0% 20.5%;
    --card-foreground: 0 0% 98.5%;
    --popover: 0 0% 20.5%;
    --popover-foreground: 0 0% 98.5%;
    --primary: 0 0% 92.2%;
    --primary-foreground: 0 0% 20.5%;
    --secondary: 0 0% 26.9%;
    --secondary-foreground: 0 0% 98.5%;
    --muted: 0 0% 26.9%;
    --muted-foreground: 0 0% 70.8%;
    --accent: 0 0% 26.9%;
    --accent-foreground: 0 0% 98.5%;
    --destructive: 0 70.4% 19.1%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 0 0% 55.6%;
    --chart-1: 0 48.8% 24.3%;
    --chart-2: 0 69.6% 17%;
    --chart-3: 0 76.9% 18.8%;
    --chart-4: 0 62.7% 26.5%;
    --chart-5: 0 64.5% 24.6%;
    --sidebar: 0 0% 20.5%;
    --sidebar-foreground: 0 0% 98.5%;
    --sidebar-primary: 0 0% 48.8%;
    --sidebar-primary-foreground: 0 0% 98.5%;
    --sidebar-accent: 0 0% 26.9%;
    --sidebar-accent-foreground: 0 0% 98.5%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 0 0% 55.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
